.App {
  text-align: center;
}

.todoItem {
  width: 30%;
  background-color: azure;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border: darkgray;
  margin: 20px;
  justify-content: space-between;
}
.todoList {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
